{% extends "layouts/fullscreen.html" %}

{% block title %} Панель управления {% endblock title %}

{% block content %}
  <nav class="navigation">
    <div class="wrapper">
      <h1>Панель управления</h1>
      <a href="/logout">Выйти</a>
    </div>
  </nav>

  <section class="panel">
    <div class="wrapper">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Путь к файлу</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr data-id="{{ item.id }}">
            <td data-id>{{ item.id }}</td>
            <td data-title>{{ item.title }}</td>
            <td data-description>{{ item.description }}</td>
            <td data-image>{{ item.image }}</td>
            <td data-delete><div class="delete-img"><img src="static/assets/delete-icon.svg" alt="Удалить"/></div></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

<!--      <h3>Товар №{% if items %}{{ items[0].id }}{% endif %}</h3>-->
<!--      <label for="form-item-id">ID</label>-->
<!--      <select name="id" id="form-item-id">-->
<!--        {% for item in items %}-->
<!--          <option value="{{ item.id }}">{{ item.id }}</option>-->
<!--        {% endfor %}-->
<!--      </select>-->

      <form method="POST" id="form" enctype="multipart/form-data">
        <div class="params">
          <div class="params-item">
            <label for="form-title">Название:</label>
            <input type="text" name="title" id="form-title">
          </div>

          <div class="params-item">
            <label for="form-description">Описание:</label>
            <textarea rows="3" type="text" name="description" id="form-description"></textarea>
          </div>

          <div class="params-item">
            <label for="form-image">Картинка:</label>
            <input type="file" name="image" id="form-image">
          </div>
        </div>

        <input type="hidden" name="id">
        <button type="submit" name="action" value="add">Добавить</button>
      </form>
    </div>
  </section>
  <script src="{{url_for('static', filename='assets/admin.js')}}"></script>
{% endblock content %}