{% extends "layouts/fullscreen.html" %}

{% block title %} Вход {% endblock title %}

{% block content %}
    {% if msg %}
        <div class="message">{{ msg }}</div>
    {% endif %}

    <div id="form-wrapper">
        <form method="post" action="" id="login-form">
            <div class="params-item">
                <label for="username">Логин</label>
                {{ form.username(placeholder='Логин', id='username') }}
            </div>

            <div class="params-item">
                <label for="password">Пароль</label>
                {{ form.password(placeholder='Пароль', id='password', type='password') }}
            </div>

            <button type="submit" name="login" class="blue-btn">Войти</button>
        </form>
    </div>
{% endblock content %}