.container {
    padding: 0 30px;
}

.wrapper {
    padding: 5rem 0 3.75rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .title {
        margin-bottom: 50px;
    }
}

.splitter {
    margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .splitter {
        margin-bottom: 50px;
    }
}

.subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
    .subtitle {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .subtitle {
        font-size: 3rem;
    }
}

.contacts {
    margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .contacts {
        margin-bottom: 50px;
    }
}

.address {

}